[class*='k-container']{
    border: 2px solid black;
    margin: auto;
    width: 1200px;
}
.k-container-nav{
    padding: 10px;
    display: flex;
    font-family: "HoengseongHanu";
}
.k-box1{
    border: 1px solid black;
    flex: 0 0 30%;
    height: 800px;
}
.k-box1-top{
    background-color: #00c9c7;
    color: white;
    text-align: center;
}
.k-box1-middle{
    background-color: violet;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 5px;
}
.k-scrollbox{
    flex: 0 0 60%;
    height: 25px;
    border-radius: 15px;
}
.k-iconbox{
    flex: 0 0 40%;
    display: flex;
    margin-left: 0px;
    justify-content: flex-end;
}
.k-iconbox div{
    padding: 5px;
}
.k-box1-bottom{
    height: 650px;
    overflow: auto;
}
.k-bar{
    border-bottom: 2px solid black;
    height: 35px;
    display: flex;
    align-items: center;
}
.k-age{
    flex: 0 0 15%;
    border-radius: 50%;
    padding: 5px;
}
.k-title{
    flex: 0 0 85%;
    padding: 0 5px;
    font-size: 12px;
}
.k-bar2{
    display: flex;
    border: 1px solid black;
    height: 100px;
    align-items: center;
}
.k-bar2-left{
    flex: 0 0 30%;
    height: 80px;
    border: 1px solid black;
    position: relative;
}
.k-bar2-left img{
    position: absolute;
    width: 100%;
    height: 100%;

}
.k-bar2-right{
    flex: 0 0 70%;
    display: flex;
    align-items: center;
}
.k-age2{
    padding: 5px;
}
.k-title2{
    font-size: 18px;
}

.k-box2{
    flex: 0 0 30%;
    height: 800px;
    border: 1px solid black;
}

.k-box2-top{
    background-color: pink;
    color: white;
    text-align: center;
}
.k-box2-middle{
    background-color: antiquewhite;
    display: flex;
    height: 60px;
}
.k-box2-middle-leftbox{
    flex: 0 0 50%;
    text-align: center;
    line-height: 50px;
    border-right: 1px solid black;
    
}
.k-box2-middle-rightbox{
    flex: 0 0 50%;
    line-height: 50px;
    text-align: center;
}
.k-box2-middle-leftbox:hover{
    background-color: darkgrey;
}
.k-box2-middle-rightbox:hover{
    background-color: darkgrey;
}
.k-box2-bottom{
    height: 650px;
    display: flex;
   
}
.k-box2-bottom-leftbox{
    flex: 0 0 50%;
    border-right: 1px solid black;
}
.k-box2-bottom-leftbox div{
    padding: 5px 10px;
    border-bottom: 1px solid black;
}
.k-box2-bottom-rightbox{
    flex: 0 0 50%;
}
.k-box2-bottom-rightbox div{
    padding: 5px 10px;
    border-bottom: 1px solid black;
}
.k-box3{
    border: 2px solid blue;
    width: 100%;
    height: 800px;
    overflow: hidden;
}
.k-box3-top{
    flex: 0 0 100%;
    height: 250px;
    border: 1px solid black;
}
.k-box3-top img{
    width: 50%;
    height: 250px;
}
.k-box3-right{
    width: 100%;
    height: 200px;
    border: 1px solid red;
}

.swiper {
    width: 100%;
    height: 100%;
}
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
